name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    services:
      mysql:
        image: mysql:8.0
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: famigliasapori
          MYSQL_USER: appuser
          MYSQL_PASSWORD: apppass
        options: >-
          --health-cmd="mysqladmin ping -h localhost"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: MySQL Deploy Action
        uses: calxus/mysql-deploy-action@v2

      - name: Build and run tests with Maven
        run: mvn -f famigliasapori/pom.xml -B clean verify
        # in alternativa solo test:
        # run: mvn -B test --file pom.xml

